.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a4c3c3;
  padding: 1rem 2rem;
}

.navbar h1 {
  color: white;
}

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
